.title{
    font-size: 32px;
    font-weight: bold;
    color: red
}

.box1{
    display: flex;
    background-color: aquamarine;
    justify-content: space-around;
}

.box2{
    display: flex;
    background-color: aquamarine;
    overflow-x:scroll
}

.subbox{
    background-color: red;
    width: 100px;
    text-align: center;
    border-radius: 50%;
}
